.button {
  display: flex;
  align-items: center;
  cursor: pointer;
  letter-spacing: 0.15px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.button:hover {
  color: #000;
}

.primary {
  font-size: 14px;
  line-height: 17px;
  color: #767676;
  margin-left: 9px;
}

.primary svg {
  margin-right: 10px;
}

.secondary {
  font-size: 16px;
  line-height: 19px;
  color: #B4B4B4;
}

.secondary svg {
  height: 17px;
  width: 17px;
  margin-right: 19px;
}