* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1 {
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
}

.App {
  height: 100vh;
  display: flex;
}

.main {
  padding: 56px;
  flex-grow: 1;
  background-color: #fff;
}